<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Run thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
    <h1>Start</h1>
    <!--<p th:text="Greetings"></p>-->
    <p th:text="${message}"></p>
    <p th:text="${greetings}"></p>
    <br />
    Name: <span th:text="${person.name}">Show Name</span>
    <br/>
    Surname: <span th:text="${person.surname}">Show Surname</span>
    <br/>
    Email: <span th:text="${person.email}">Show Email</span>
    <br/>
    Phone: <span th:text="${person.phone}">Show Phone</span>
</body>
</html>